langchain-ollama==0.2.1
langchain-openai==0.2.3
langchain-core==0.3.25
langchain-google-vertexai==1.70.0
langchain-google-genai==0.0.3
langgraph==0.2.59
transformers==0.19.1
torch==2.1.2
torchvision==0.16.2
pdf2image==1.16.3
python-dotenv==1.0.1
nougat-ocr==0.1.17
Pillow==10.4.0
typing-extensions==4.12.2
mermaid==0.3.0 